---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro';
import TopNav from '../components/TopNav.astro';
import Article from '../components/Article.astro';

import { Image } from 'astro:assets'
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**');
const imagePath="/src/assets/poster.png";

const frontPageArticles = Object.values(import.meta.glob('..//content/articles/*.md', {eager:true}));

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Home">
	<div class="mb-20"><TopNav title="Home"></TopNav></div>
	<div class="flex justify-center max-h-1/2">
		<Image class="w-full rounded-xl shadow-xl mx-24 max-w-3/4 " src={images[imagePath]()} alt="dashboard image"/>
	</div>
	{ 
		frontPageArticles.map((article:any, idx) => <Article
			quoteText={article.frontmatter.quoteText}
			attributionName={article.frontmatter.attributionName}
			attributionTitle={article.frontmatter.attributionTitle}
			text={article.frontmatter.text}
			imageOnRight={idx%2==0}
			imagePath={article.frontmatter.imagePath}
			imageAttribution={article.frontmatter.imageAttribution}
		>
		</Article>)
	}
</Layout>
