---
const { name, description, imagePath, colspan, link } = Astro.props;

import { Image } from 'astro:assets'

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**');
if (imagePath && !images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "./src/assets/**"`);
---

<div class=`bg-white border border-gray-200 rounded-lg shadow-sm col col-span-${colspan}`>
    <a href={link}>
        <Image class="rounded-t-lg" src={images[imagePath]()} alt={name} ></Image>
    </a>
    <div class="p-5">
        <a href={link}>
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{name}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700" set:html={description}></p>
        { link && <a href={link} class="text-blue-500 bold">Bid on 32 Auctions</a> }
    </div>
</div>
